.description {
  display: flex;
  max-width: 1920px;
  /* width: 100%; */
  height: 883px;
  margin: auto;
  transition: 1s ease;
  transform: translate(0, 100%);
  /* opacity: 0; */
  /* background-color: antiquewhite; */
}

.description__container {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.description__nav {
  max-width: 176px;
  border: 1px solid #D8D8D8;
  border-left: none;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  border-bottom: none;
}

.description__nav-title {
  position: absolute;
  margin: 73px 56px 0 62px;
  display: block;
  /* margin: 0; */
  color: #E3E3E3;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.description__equipment-wrapper {
  text-align: center;
  margin-top: 72px;
}

.description__equipment-button {
  border: none;
  background-color: #333333;
  width: 180px;
  height: 42px;
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  /* identical to box height */

  letter-spacing: 0.025em;
}

.description__equipment-button:hover {
  opacity: .9;
}

.description__main {
  display: flex;
  border: 1px solid #D8D8D8;
  max-width: 1566px;
  width: 100%;
  justify-content: space-between;
  flex-shrink: 0;
  height: 100%;
  border-bottom: none;
  /* background-color: black; */
}

.description__void {
  border: 1px solid #D8D8D8;
  border-right: none;
  border-bottom: none;
  /* background-color: green; */
  width: 100%;
  height: 100%;
}

.description__placeCards {
  display: flex;
  flex-wrap: wrap;
  max-width: 882px;
  justify-content: space-between;
  margin: 74px 85px 105px 95px;
}

.description__equipment {
  max-width: 507px;
  width: 100%;
  margin-top: 73px;
  box-sizing: border-box;

}

.description__card {
  position: relative;
  display: flex;
  max-width: 430px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 22px;
}

.description__title {
  position: absolute;
  bottom: 53px;
  left: 31px;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.description__subtitle {
  position: absolute;
  bottom: 29px;
  left: 31px;
  color: #FF7A00;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.025em;
}

.description__equipment__title {
  margin: 0;
  margin-bottom: 3px;
}
.description__equipment__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  margin: 0;
}
.description__equipment__price {
  margin: 0;
  margin-bottom: 10px;
}

.description__image {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .description__placeCards {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.description.description_hidden {
  transform: translate(0, -200%);
  /* opacity: 0; */
}

.description.description_showing {
  transform: translate(0, 0);
  /* opacity: 1; */
}