.textBlock {
  box-sizing: border-box;
  padding: 96px 64px 102px;
  max-width: 1568px;
  margin: auto;
  border: 1px solid #D8D8D8;
  transition: 1s ease;
}

.textBlock.textBlock_hidden {
  transform: translate(0, -100%);
  opacity: 0;
}

.textBlock__title {
  margin: 0;
  margin-bottom: 19px;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #2D2D2D;

}

.textBlock__subtitle {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}