.triggers {
  max-width: 1920px;
  height: 253px;
  margin: auto;
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 1s ease;
  transform: translate(0, 100%);
}

.triggers.triggers_hidden {
  transform: translate(0, -100%);
  opacity: 0;
}

.triggers.triggers_showing {
  transform: translate(0px, 0px);
}

.triggers__item {
  display: flex;
  max-width: 315px;
  height: 75px;
  width: 100%;

}

.triggers__item:not(:last-child) {
  margin-right: 149px;
}

.triggers__wrapper {

}

.triggers__img-wrapper {
  align-self: center;
  margin-right: 42px;
}

.triggers__title {
  margin-bottom: 8px;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.triggers__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 1000px) {
  .triggers {
    flex-direction: column;
  }

  .triggers__item:not(:last-child) {
    margin: 0;
    margin-bottom: 10px;
  }
}